import { DefaultLayout } from '@/layout/default-layout';

export const {{pascalCase name}}Page = () => {
  const meta = {
    title: '{{pascalCase name}} Page',
  };
  return (
    <DefaultLayout meta={meta}>
      <div className="border rounded-lg p-6 bg-card space-y-8">
        <h1>Welcome to the new {{pascalCase name}} page</h1>
      </div>
    </DefaultLayout>
  );
};
